@font-face {
    font-family: abel-regular;
    src: url('../fonts/Abel-Regular.ttf');
}

body {
    background: white;
    color: #333;
}

/* #region nav */
nav {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2vw 2vw;
}

nav img {
    width: 50px;
    height: 50px;
}

nav a {
    font-family: Verdana, Arial, sans-serif;
    color: black;
    padding: 0 1vw;
    text-decoration: none;
}

nav a:hover {
    color: #333;
    text-decoration: underline;
}

/* #endregion */

footer {
    background-color: #e7e7e7;
    color: #333;
    margin-top: 3vw;
    padding: 1vw 2vw 2vw 2vw; 
    text-align: center;
}

/* #region HOME page: name and roles */
#landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2vw;
}

#name {
    text-align: center;
    font-family: abel-regular, Tahoma, sans-serif;
}

#roles {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

/* #endregion */

/* #region HOME page: text and image containers */
.container {
    display: flex;
    align-items: center;
    clear: both;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2vw;
}

.container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 5%;
    float: right;
}

.container .text-container {
    display: inline-block;
}

.container .text-container.right {
    margin-left: 2vw;
}

.container .text-container.left {
    margin-right: 2vw;
}

.text-container h2 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    vertical-align: top;
}

.text-container p {
    font-family: Geneva;
    vertical-align: middle;
}

/* #endregion */