body {
    background-color: #121212;
    color: #ffffff;
}

#name {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

#role {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}