@import url('https://fonts.googleapis.com/css?family=Abel=swap');

body {
    background: #333;
    color: white;
}

#name {
    text-align: center;
    font-family: Abel, Tahoma, sans-serif;
}

#role {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}